 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    width: 550px;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.container:hover{
    box-shadow: -4px 5px 8px 5px #929090;
}

h1 {
    margin: 10px;
}

.blue {
    background-color: #4a90e2;
    display: inline-block;
    border: 1px solid #4a90e2;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.buttons .blue,
#btn2 {
    padding-block: 10px;
    padding-inline: 20px;
    border-radius: 5px;
}

.buttons {
    margin: 10px;
    cursor: pointer;
}

.buttons p {
    margin: 10px;
}


p {
    display: inline-block;
}

#btn2 {
    background-color: #f1f1f1;
    border: 1px solid #eae7e7;
}

.add-new p {
    display: inline-block;
    padding: 10px;
    margin-block: 10px;
}

#add {
    border: 1px solid #c8c7c7;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 420px;
    text-align: left;
    color: gray;
    padding: 12px;
}

.add-new .blue {
    padding-inline: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -5px;
}

.one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dfdddd;
}

.one1 {
    margin-left: 15px;
}

.tasks p {
    margin: 10px;
    padding-block: 10px;
    font-size: 18px;
}


.red {
    background-color: #ff6b6b;
    padding: 10px;
    border-radius: 5px;
    display: block;
    margin: 10px;
    cursor: pointer;
    color:white;
}

input[type="checkbox"] {
    appearance: none;
    width: 17px;
    height: 17px;
    border: 1.9px solid #a19e9e;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 1px;
    position: relative;
}

input[type=checkbox]:checked {
    background-color: #4a90e2;
    border: 1.9px solid #4a90e2;
    border-radius: 2px;
}

input[type=checkbox]:checked::after {
    content: '✓';
    font-weight: bolder;
    font-size: 20px;
    color: white;
    position: absolute;
    margin-top: -7px;
}

input[type="checkbox"]:checked + p {
    text-decoration: line-through;
    color: #999;
}

.red:hover{
    color:black;
}
::placeholder{
    font-size: 15px;
}
.ones{
    border:none;
}