* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f9f9f9;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: justify;
}

.resume {
    background: white;
    border-left: 5px solid #3498db;
    width: 540px;
    height: auto;
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    margin:10px;
}

.top {
    width: 600px;
    margin-bottom: 10px;
}

.resume h2{
    margin-bottom: -5px;
}

.top li {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    background-color: #e5f0f7;
    box-shadow: -1.5px 0px 1px #3498db;
    border-radius: 20px;
}

p,
li {
    font-size: 10px;
}

.blue {
    color: #3498db;
    font-size: 15px;
}

h5 {
    border-bottom: 2px solid #3498db;
    display: inline-block;
}

.summary,
.experience {
    margin: 10px;
}

.summary p {
    margin-block: 8px;
}

.left-border {
    border-left: 2px solid red;
    padding-left: 5px;
    font-style: italic;
    margin-block: 5px;
}

.dates {
    color: #7f8c8d;
    background-color: rgba(52, 152, 219, 0.08);
    display: inline-block;
}

.space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experience li {
    margin-left: 10px;
}

.experience {
    margin-block: 15px;
}

.part1 {
    margin: 15px;
}
.top2{
    margin-top:10px;
}
.skills h5{
    margin-left:10px;
}
.skills li{
    box-shadow: -1.5px 0px 1px #3498db;
    background-color: #e0eef8;
}